$rojo : #ee2537;

$rosa: #f4b3c7;

$azul: #a0dde7;

$azulOscuro: #012b65;

$blanco: #fff;

$titulos: 'Rubik Mono One', sans-serif;

$textos: 'Work Sans', sans-serif; 

$tectos-light: 400;

$textos-regular: 500;

$textos-bold:700;